<div class="row">
    <div class="col-4">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" 
                   routerLink="/home/get-started" 
                   routerLinkActive="active" 
                   >Get Started</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                routerLink="/home/member"
                routerLinkActive="active"
                >Become a member</a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>